/* GENERAL LAYOUT */

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
img{
    max-width: 100%;
}
body {
    background-color: #595959;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #eeb111;
    text-align: center;
    padding: 10px 0;
}


p {
    color: whitesmoke;
    padding: 5px 0;
    margin-bottom: 0;
}

p strong {
    color: #C8ADDC;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

a {
    color: #f5cf70;
    transition: 0.3s;
}

a:hover {
    color: #eeb111;
    text-decoration: none;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
}

ul li {
    color: whitesmoke;
}

.section {
    background-color: #595959;
    padding: 30px;
    border-style: dashed;
    border-color: gray;
    border-width: 5px;
    border-radius: 50px;

    transition: 0.5s;
}

.section.active {
    background-color: #262626;
    border-style: solid;
}

.section .section-content {
    opacity: 0;

    transition: 0.5s;
}

.section.active .section-content {
    opacity: 1;
}

.section.intro-section {
    margin-top: 50px;
    padding: 50px 30px;
}

/* Section divider and hash stuff */
.section-divider {
    position: relative;
    display: flex;
    height: 100px;
    align-items: center;
}

.section-divider.xlarge {
    height: 300px;
}

.section-divider.xlarge .divider-line-wrapper {
    height: 300px;
}

.section-divider.large {
    height: 200px;
}

.section-divider.large .divider-line-wrapper {
    height: 200px;
}

.section-divider.small {
    height: 75px;
}

.section-divider.small .divider-line-wrapper {
    height: 75px;
}

.section-divider > * {
    flex: 1;
}

.divider-line-wrapper {
    height: 100px;
}

.divider-line {
    width: 10px;
    height: 0;
    background-color: #262626;
    border-style: solid;
    border-color: gray;
    border-width: 0 1px 0;
    margin: auto;
}

.block-status {
    color: lightgray;
    text-align: center;
    font-size: 16px;
    opacity: 1;
}

.hash-table {
    width: 100%;
}

.hash-table td {
    font-size: 12px;
    color: lightgray;
}

.block-data-title {
    font-weight: bold;
}

.block-data-value {
    text-align: right;
}
/* Section divider and hash stuff */

/* ANIMATIONS */
.fadeMe {
    opacity: 0;
}
.fadeMeR {
    opacity: 0;
}
.fadeAni {
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 5s;
}
.fadeAniR{
    visibility: visible;
    animation-name: fadeInR;
    animation-duration: 1.5s;
    animation-delay: 5s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadeInR {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
/* ANIMATIONS */

/* fancy typer */
.typewriter-wrapper {
    position: relative;
    height: 75px;
    display: flex;
    justify-content: center;
}

.typewriter {
    position: absolute;
}
/* fancy typer */

.purple {
    color: #9F78BD;
}

.text-header {
    font-size: 20px;
}

.text-subheader {
    font-size: 14px;
    color: #c0c1be;
    padding: 0;
}

.img-content{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.img-content img {
    width: 70%;
}

.container {
    padding: 0 0 2%;
}
.bar {
    fill: rgb(255, 187, 120);
}
.kennyText {
    fill: whitesmoke;
}
.bubLegend:hover {
    cursor: pointer;
}
#txTT2 {
    position: absolute;
    height: fit-content;
    padding: 2px 20px;
    z-index: 10;
    border: 5px solid #a0a0a0;
    background: whitesmoke;
    border-radius: 19px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}
#txTT2 p {
    color: #262626;
    white-space: nowrap;
}
.bubble {
    stroke-width: 5px;
}

#txChart,#crimeChart {
    display: flex;
    justify-content: center;
}
/* TEXT - HEADERS, PARAGRAPHS */

/* COMPONENTS - BUTTONS, FORMS, INPUTS */

.axis text {
    fill: whitesmoke;
}

.axis line, .axis .domain {
    stroke: whitesmoke;
}

.axis-label {
    fill: whitesmoke;
}

.anchor-right {
    text-anchor: end;
}

.caption-label {
    font-size: 10px;
    fill: lightgray;
    color: lightgray;
}

.caption-label-lg {
    font-size: 14px;
}

.margin-10 {
    margin: 10px 0;
}

.margin-20 {
    margin: 20px 0;
}

.tree-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#tree-date-label {
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
#tree-reset-button {
    margin-left: 20px;
    padding: 2px 10px 2px 10px;
    text-align: center;
}

#finance-dashboard {
    margin-top: 30px;
}

button {
    background-color: #8c8c8c;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button.active {
    background-color: #bfbfbf;
}

button:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-radius: 2px;
    pointer-events: none;
}

.d3-tip p {
    margin: 5px 0;
    padding: 0;
}

/* Dashboard 2 - Finance Data */

#finance-chart-title {
    font-size: 20px;
}

.finance-line {
    fill: none;
}

rect.candlestick-rect.red, rect.candlestick-line.red {
    fill: #ffb3ba;
}

rect.candlestick-rect.green, rect.candlestick-line.green {
    fill: #baffc9;
}

.detailed-inputs-wrapper {
    display: inline-block;
    margin-left: 15px;
}

.detailed-inputs {
    display: flex;
    align-items: center;
}

#detailed-month {
    background-color: rgba(102, 102, 102, 0.4);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    margin: 0 15px;
    width: 200px;
    text-align: center;
    font-size: 12px;
    pointer-events: none;
}

#detailed-info:hover {
    outline: none;
}

.detailed-inputs i {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 2px;
}

.detailed-arrows:not(.disabled):hover, #detailed-info:hover {
    cursor: pointer;
    opacity: 0.9;
}

.detailed-arrows.disabled i {
    color: #8c8c8c;
}

.detailed-arrows.disabled:hover {
    cursor: not-allowed;
}

.tooltip-rect {
    fill: whitesmoke;
}

.focus-rect:hover {
    cursor: pointer;
}

.tooltip-date {
    font-weight: bold;
    font-size: 12px;
}

.tooltip-text {
    fill: black;
    font-size: 10px;
}

#detailed-info {
    margin-left: 10px;
}

.candlestick-svg {
    width: 300px;
}

.square-label {
    font-size: 10px;
    fill: whitesmoke;
}

.treemap-rect:hover {
    cursor: pointer;
    opacity: 0.9;
}

.node-text {
    font-size: 10px;
    fill: white;
}

#family-tree {
    height: 32vw;
}

.number-circle {
    transition: 0.3s;
}

.number-circle.active {
    background: gray;
}

.number-circle:hover {
    cursor: pointer;
    background: gray;
}

.number-circle:focus {
    outline: none;
}

.finance-events p {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.finance-events .number-circle {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-right: 1px;
    border: 2px solid #666;
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    margin: 0 3px;
}

.finance-event-popup .popup-title {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.finance-event-popup .popup-date {
    margin: 0;
    padding: 5px 0 15px;
}

/* Team Section */
.team {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.person-card {
    background-color: #404040;
    border-radius: 20px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.person-card:not(:first-child) {
    margin-left: 25px;
}

.person-card:not(:last-child) {
    margin-right: 25px;
}

.person-card p {
    text-align: center;
    margin: 0;
}

.person-card img {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
}

/* Sources section */
.sources {
    display: flex;
    justify-content: center;
}

.sources ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.sources ul li {
    padding: 2px 0;
}

/* Miscellaneous */
#project-title {
    font-size: 40px;
    color: #f2bf40;
    margin-top: 80px;
}
.water {
    fill: #00248F;
}
.land {
    fill: #A98B6F;
    stroke: #FFF;
    stroke-width: 0.7px;
}
select {
    position: absolute;
    top: 20px;
    left: 580px;
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
}
.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}

#pie {
    text-align: center;
}

#choropleth-option {
    position: absolute;
    left: 0px;
    width: 450px;

}
