/* GENERAL LAYOUT */

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
body {
	background-color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #eeb111;
}

p {
	color: whitesmoke;
}

.container {
    padding: 2% 0;
}
.bar {
  fill: #ffb3ba;
}
text {
  fill: whitesmoke;
}

/* TEXT - HEADERS, PARAGRAPHS */

/* COMPONENTS - BUTTONS, FORMS, INPUTS */

.axis text {
    fill: whitesmoke;
}

.axis line, .axis .domain {
    stroke: whitesmoke;
}

.axis-label {
    fill: whitesmoke;
}

.anchor-right {
    text-anchor: end;
}

.caption-label {
    font-size: 10px;
    fill: lightgray;
}

button {
    background-color: #8c8c8c;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #666666;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-radius: 2px;
    pointer-events: none;
}

.d3-tip p {
    margin: 5px 0;
    padding: 0;
}

/* Dashboard 2 - Finance Data */

.finance-line {
    fill: none;
}

rect.candlestick-rect.red, rect.candlestick-line.red {
    fill: #ffb3ba;
}

rect.candlestick-rect.green, rect.candlestick-line.green {
    fill: #baffc9;
}

.detailed-inputs-wrapper {
    display: inline-block;
    margin-left: 15px;
}

.detailed-inputs {
    display: flex;
    align-items: center;
}

#detailed-month {
    background-color: rgba(102, 102, 102, 0.4);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    margin: 0 15px;
    width: 200px;
    text-align: center;
    font-size: 12px;
}

.detailed-inputs i {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 2px;
}

.detailed-arrows:not(.disabled):hover, #detailed-info:hover {
    cursor: pointer;
    opacity: 0.9;
}

.detailed-arrows.disabled i {
    color: #8c8c8c;
}

.detailed-arrows.disabled:hover {
    cursor: not-allowed;
}

.tooltip-rect {
    fill: whitesmoke;
}

.focus-rect:hover {
    cursor: pointer;
}

.tooltip-date {
    font-weight: bold;
    font-size: 12px;
}

.tooltip-text {
    fill: black;
    font-size: 10px;
}

#detailed-info {
    margin-left: 10px;
}

.candlestick-svg {
    width: 300px;
}

.square-label {
    font-size: 10px;
    fill: whitesmoke;
}

.treemap-rect:hover {
    cursor: pointer;
    opacity: 0.9;
}
