/* GENERAL LAYOUT */

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
	background-color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #eeb111;
    text-align: center;
}

p {
	color: whitesmoke;
}

a {
    color: #f5cf70;
    transition: 0.3s;
}

a:hover {
    color: #eeb111;
    text-decoration: none;
}

.section {
    margin-top: 40px;
}

.container {
    padding: 2% 0;
}
.bar {
  fill: rgb(255, 187, 120);
}
.kennyText {
  fill: whitesmoke;
}
.kennyText:hover, .bubble:hover {
  cursor: pointer;
}

#txChart,#crimeChart {
  display: flex;
  justify-content: center;
}
/* TEXT - HEADERS, PARAGRAPHS */

/* COMPONENTS - BUTTONS, FORMS, INPUTS */

.axis text {
    fill: whitesmoke;
}

.axis line, .axis .domain {
    stroke: whitesmoke;
}

.axis-label {
    fill: whitesmoke;
}

.anchor-right {
    text-anchor: end;
}

.caption-label {
    font-size: 10px;
    fill: lightgray;
}

button {
    background-color: #8c8c8c;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #666666;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-radius: 2px;
    pointer-events: none;
}

.d3-tip p {
    margin: 5px 0;
    padding: 0;
}

/* Dashboard 2 - Finance Data */

#finance-chart-title {
    font-size: 20px;
}

.finance-line {
    fill: none;
}

rect.candlestick-rect.red, rect.candlestick-line.red {
    fill: #ffb3ba;
}

rect.candlestick-rect.green, rect.candlestick-line.green {
    fill: #baffc9;
}

.detailed-inputs-wrapper {
    display: inline-block;
    margin-left: 15px;
}

.detailed-inputs {
    display: flex;
    align-items: center;
}

#detailed-month {
    background-color: rgba(102, 102, 102, 0.4);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    margin: 0 15px;
    width: 200px;
    text-align: center;
    font-size: 12px;
}

#detailed-info:hover {
    outline: none;
}

.detailed-inputs i {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 2px;
}

.detailed-arrows:not(.disabled):hover, #detailed-info:hover {
    cursor: pointer;
    opacity: 0.9;
}

.detailed-arrows.disabled i {
    color: #8c8c8c;
}

.detailed-arrows.disabled:hover {
    cursor: not-allowed;
}

.tooltip-rect {
    fill: whitesmoke;
}

.focus-rect:hover {
    cursor: pointer;
}

.tooltip-date {
    font-weight: bold;
    font-size: 12px;
}

.tooltip-text {
    fill: black;
    font-size: 10px;
}

#detailed-info {
    margin-left: 10px;
}

.candlestick-svg {
    width: 300px;
}

.square-label {
    font-size: 10px;
    fill: whitesmoke;
}

.treemap-rect:hover {
    cursor: pointer;
    opacity: 0.9;
}

.node-text {
    font-size: 10px;
    fill: white;
}

#family-tree {
    height: 30vw;
    overflow-y: auto;
}

.number-circle {
    transition: 0.3s;
}

.number-circle:hover {
    cursor: pointer;
    background: gray;
}

.number-circle:focus {
    outline: none;
}

.finance-events p {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.finance-events .number-circle {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-right: 1px;
    border: 2px solid #666;
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    margin: 0 3px;
}

.finance-event-popup .popup-title {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.finance-event-popup .popup-date {
    margin: 0;
    padding: 5px 0 15px;
}

/* Team Section */
.team {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.person-card {
    background-color: #404040;
    border-radius: 20px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.person-card:not(:first-child) {
    margin-left: 25px;
}

.person-card:not(:last-child) {
    margin-right: 25px;
}

.person-card p {
    text-align: center;
    margin: 0;
}

.person-card img {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
}

/* Sources section */
.sources {
    display: flex;
    justify-content: center;
    width: 50%;
}

.sources ul {
    color: whitesmoke;
    list-style: none;
}

.water {
    fill: #00248F;
}

.land {
    fill: #A98B6F;
    stroke: #FFF;
    stroke-width: 0.7px;
}

.land:hover {
    fill:#33CC33;
    stroke-width: 1px;
}

.focused {
    fill: #33CC33;
}

select {
    position: absolute;
    top: 20px;
    left: 580px;
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}

